body {
    text-align: center;
}

.main,
.stats {
  display: flex;
}

.main {
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}

.stats {
  width: 80%;
  justify-content: space-around;
}

.modal {
  position: fixed;
  font-size: 2em;
  width: 40%;
  padding: 5%;
  border-radius: 15px;
  z-index: 1;
  top: 15vh;
  left: 25vw;
  background: #5a5a5a;
  color: white;
  border: 3px dashed white;
}

.play-again-btn {
  font-size: 2em;
  border-radius: 5px;
  background: green;
  color: white;
  padding: 15px;
  box-shadow: 2px 2px 3px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
