body {
    text-align: center;
}

.main,
.stats {
  display: flex;
}

.main {
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}

.stats {
  width: 80%;
  justify-content: space-around;
}

.modal {
  position: fixed;
  width: 50%;
  z-index: 1;
  top: 30vh;
  left: 25vw;
  background: white;
  border: 1px solid black;
}

.hidden {
  visibility: hidden;
}
