body {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.main,
.stats {
  display: flex;
}

.main {
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}

.stats,
.chars {
  width: 100%;
}

.stats {
  justify-content: space-around;
}

.chars {
  margin-top: 2.5em;
}

.chars h3 {
  margin: 0;
}

.char-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.char-list li,
.play-again-btn {
  cursor: pointer;
}

.modal {
  position: fixed;
  font-size: 2em;
  width: 40%;
  padding: 5%;
  border-radius: 15px;
  z-index: 1;
  top: 15vh;
  left: 25vw;
  background: #5a5a5a;
  color: white;
  border: 3px dashed white;
}

.play-again-btn {
  font-size: 2em;
  border-radius: 5px;
  background: green;
  color: white;
  padding: 15px;
  box-shadow: 2px 2px 3px;
}

.chosen {
  opacity: 0.5;
}

.chosen:hover {
  cursor: default;
}

.hidden {
  visibility: hidden;
}
